.blur-enter {
  filter: blur(12px);
  z-index: 1;
}

.blur-enter.blur-enter-active {
  filter: blur(0);
  transition: filter 200ms ease-in;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
